[user]
	name = gasidev
	email = 78299174+gasidev@users.noreply.github.com
	password = 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
[init]
	defaultBranch = main
[color]
	ui = auto
[core]
	editor = code --wait
